{% extends 'admin/adminindex2.html' %}
{% block body %}






<h2 style="text-align: center">Experts</h2>

<div class="container">

    <div class="row">
        <div class="col-md-5 mb-4">

            <form action="/admin_verify_expert_post" method="post">{% csrf_token %}
                <table class="table table-bordered">
                    <tr>
                        <th>Expert Name</th>
                        <th><input type="text" name="f" required class="form-control" ></th>

                        <th><input type="submit" value="Search" class="btn btn-warning" required></th>
                    </tr>
                </table>
            </form>

        </div>
        <div class="col-md-6 mb-4">


             <form action="/admin_verify_expert_post_date" method="post">{% csrf_token %}


    <table class="table table-bordered">
        <tr>
            <th>From</th>
            <th><input type="date" name="f" required class="form-control" required></th>
            <th>To</th>
            <th><input type="date" name="t" required   class="form-control" required></th>
            <th><input type="submit" value="Search" class="btn btn-warning" required></th>
        </tr>
    </table>


     </form>

        </div>
    </div>
    <div class="row">
        {% for i in a %}  <!-- Example loop for 6 cards -->
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="{{ i.image }}" alt="Card image cap" width="300px" height="300px">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p class="card-text">Address :{{ i.place }}<br>{{ i.post }}<br>{{ i.district }}<br><br></p>
                    <p class="card-text">Contact :{{ i.phone }}<br></p>
                    <p class="card-text">Email :{{ i.email }}<br></p>
                    <p class="card-text">Type :{{ i.type }}<br></p>
                    <p class="card-text">Status :{{ i.status }}<br></p>
                    <p><a href="{{ i.idproof }}" class="btn btn-warning">View Proof</a> </p>
                    <p><a href="/admin_view_expert_feedback/{{ i.id }}" class="btn btn-warning">Feedback</a> </p>

{% if i.LOGIN.type == "pending" %}
    <br/>
                    <a href="/admin_approve_expert/{{ i.LOGIN.id }}" class="btn btn-primary">Approve</a>
                    <a href="/admin_reject_expert/{{ i.LOGIN.id }}" class="btn btn-danger">Reject</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
