
<html lang="zxx">

<head>
    <title>LifeStyle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fitness Freak Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="/static/public/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/static/public/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- testimonials -->
    <link rel="stylesheet" href="/static/public/css/owl.carousel.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/public/css/owl.theme.css" type="text/css" media="all">
    <!-- flexslider -->
    <link rel="stylesheet" href="/static/public/css/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/public/css/smoothbox.css" type='text/css' media="all" />
     <!-- font-awesome icons -->
    <link href="/static/public/css/font-awesome.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Jockey+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- //web-fonts -->
</head>

<body>
<style>
    .square-image {
    width: 300px;
    height: 300px;
    object-fit: cover; /* This ensures the image covers the whole area and maintains aspect ratio */
}
</style>
    <!-- banner -->
    <div class="main_section" id="home">
        <div class="agile-banner_nav">

            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a class="navbar-brand" href="/public_home">Life
                            <span>Style</span>
                        </a>
                    </h1>

                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav class="link-effect-2" id="link-effect-2">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="/public_home" class="effect-3">Home</a>
                            </li>
                            <li>
                                <a href="login" class="effect-3 ">Login</a>
                            </li>
                            <li>
                                <a href="/expert_reg" class="effect-3 ">Expert Register</a>
                            </li>
                            <li>
                                <a href="/user_reg" class="effect-3 ">User Register</a>
                            </li><li>
                                <a href="/forget_password" class="effect-3 "> Forget Password</a>
                            </li>
{#                            <li class="dropdown">#}
{#                                <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">Sub Menu#}
{#                                    <b class="caret"></b>#}
{#                                </a>#}
{#                                <ul class="dropdown-menu">#}
{#                                    <li>#}
{#                                        <a href="#explore" class="scroll">Explore</a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="#gallery" class="scroll">Gallery</a>#}
{#                                    </li>#}
{##}
{#                                    <li>#}
{#                                        <a href="#price" class="scroll">Plans</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li class="dropdown">#}
{#                                <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">More#}
{#                                    <b class="caret"></b>#}
{#                                </a>#}
{#                                <ul class="dropdown-menu">#}
{##}
{#                                    <li>#}
{#                                        <a href="#team" class="scroll">Team</a>#}
{#                                    </li>#}
{#                                    <li class="divider"></li>#}
{#                                    <li>#}
{#                                        <a href="#blog" class="scroll">Blog</a>#}
{#                                    </li>#}
{#                                    <li class="divider"></li>#}
{#                                    <li>#}
{#                                        <a class="s-menu" href="#">Sub menu#}
{#                                            <b class="fa fa-caret-right"></b>#}
{#                                        </a>#}
{#                                        <ul class="dropdown-menu sub-menu">#}
{#                                            <li>#}
{#                                                <a href="#">link1</a>#}
{#                                            </li>#}
{#                                            <li class="divider"></li>#}
{#                                            <li>#}
{#                                                <a href="#">link2</a>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </li>#}
{##}
{#                                </ul>#}
{#                            </li>#}


{#                            <li>#}
{#                                <a href="#contact" class="effect-3 scroll">contact</a>#}
{#                            </li>#}
                        </ul>
                    </nav>
                </div>
            </nav>
            <div class="clearfix"> </div>
        </div>
        <!-- banner slider -->
        <div class="slider">
            <ul class="rslides" id="slider">
                <li>
                    <div class="w3ls-banner-image  w3ls-banner-image1">
                        <div class="layer">
                            <div class="banner-text">
                                <h3>commit</h3>
                                <p> to be fit</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w3ls-banner-image  w3ls-banner-image2">
                        <div class="layer">
                            <div class="banner-text">
                                <h3>Fitness</h3>
                                <p>is a lifestyle</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w3ls-banner-image  w3ls-banner-image3">
                        <div class="layer">
                            <div class="banner-text">
                                <h3>strive</h3>
                                <p> for progress</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <!-- //Slider -->
    <!-- about-->
    <div class="about-top section" id="about">
        <div class="container">
            <div class="w3l-about-top-head">
                <div class="col-md-6 about-left text-center">
                    <h5 class="main-title">introducing</h5>
                    <h6 class="txt">Life Style</h6>
                    <p>we explore your hidden potential</p>
                </div>
                <div class="col-md-6 about-right">
                    <h5>Eat Healthy Stay Healthy Work Healthy</h5>
                    <p>Healthy food makes our bodies strong. It’s like fuel for our bodies, just like petrol for cars. Fruits and vegetables are very good for us. They have lots of vitamins to keep us healthy. Eating whole grains like rice and bread gives us energy to play and learn. We also need protein from foods like eggs, milk, and fish for strong muscles. Don’t forget to drink lots of water too! Eating too much junk food can make us sick, so we should eat it only sometimes. Remember, eating healthy food makes us happy, active, and smart. So, let’s choose healthy food every day</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //about -->
    <!-- about-bottom-grid -->
    <div class="section about-bottomgrid">
        <div class="container">
            <div class="about-bot-grid-sec">
                <div class="about-middle-pos">
                    <h2>fitness Life</h2>
                    <p>strive for progress</p>
                </div>
                <div class="about-section">
                    <div class="col-md-4 col-sm-6  abg1">

                    </div>
                    <div class="col-md-8 col-sm-6 wthree-sec-about">
                        <h4 class="bot-grid1">commit to be fit to eat</h4>
                        <p class="bot-gridtxt">Nutrition Food is an essential aspect of our daily lives Not only does it provide us with the necessary nutrients to sustain our bodies, but it also plays a significant role in our culture, traditions, and social gatherings. In this article, we will explore the various facets of food and its importance in shaping our lives.</p>
                    </div>
                    <div class="clearfix"> </div>

                </div>
                <div class="col-md-8  col-sm-6 wthree-sec-about about-pos-btm">
                    <h4 class="bot-grid-about">focus on being happy To eat</h4>
                    <p>Our health is our most valuable wealth. A healthy person is someone free from diseases and can perform physical activities without getting tired. A person’s physical fitness measures health and fitness. It can be achieved through proper nutrition and careful eating habits. Nutrition plays a vital role because we are what we eat. Health cannot be ignored because our body needs to be healthy to function correctly. Eating fruits and vegetables boosts one’s health. While eating junk food hurts our health. Regular exercises can help us to build a healthy and fit body that would be resistant to diseases.</p>
                </div>
                <div class="col-md-4 col-sm-6 abg2">
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>




      <!-- team-->
    <div class="team text-center" id="team">
        <div class="team-layer">
            <h3 class="title">Expert Instructors</h3>
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            {% for i in data %}
                            <div class="col-md-4 col-sm-4 w3_agile-team-grid ">
<img src="{{ i.image }}" alt=" " class="img-responsive square-image" />
                                <h5>{{ i.name }}

                                </h5>
                                <p><span>{{ i.type }}</span></p>
                                <ul class="social_list">
                                    <li>
                                        <a href="#" class="facebook">
                                            <span class="fa fa-facebook" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <span class="fa fa-twitter" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="dribble">
                                            <span class="fa fa-dribbble" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="vimeo">
                                            <span class="fa fa-vimeo" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            {% endfor %}
                            <div class="clearfix"></div>

                        </li>
                        <li>
                            <div class="col-md-6 col-sm-6  w3_agile-team-grid">
                                <img src="/static/public/images/s3.png" alt=" " class="img-responsive" />
                                <h5>Daniel Nyari,
                                    <span>Fitness</span>
                                </h5>
                                <p>Lorem ipsum dolor sit amet sed do eiusmod incididunt ut labore minim veniam.</p>
                                <ul class="social_list">
                                    <li>
                                        <a href="#" class="facebook">
                                            <span class="fa fa-facebook" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <span class="fa fa-twitter" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="dribble">
                                            <span class="fa fa-dribbble" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="vimeo">
                                            <span class="fa fa-vimeo" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-6 col-sm-6  w3_agile-team-grid">
                                <img src="/static/public/images/s4.png" alt=" " class="img-responsive" />
                                <h5>Daniel Nyari,
                                    <span> Body Builder</span>
                                </h5>
                                <p>Lorem ipsum dolor sit amet sed do eiusmod incididunt ut labore minim veniam.</p>
                                <ul class="social_list">
                                    <li>
                                        <a href="#" class="facebook">
                                            <span class="fa fa-facebook" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <span class="fa fa-twitter" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="dribble">
                                            <span class="fa fa-dribbble" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="vimeo">
                                            <span class="fa fa-vimeo" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="clearfix"></div>
                        </li>

                    </ul>
                </div>
            </section>

        </div>
    </div>
    <!-- //team -->

    <div class="explore-grid text-center section" id="explore">
        <h3 class="title1">explore</h3>
        <div class="sub-div">
            <div class="exp-grid">
                <div class="ab1 w3_agile-about-grid1">
                    <img src="/static/public/images/p8.png" alt="" />
                    <h4 class="explore-title">body building</h4>
                </div>
                <div class="ab1 w3_agile-about-grid1">
                    <img src="/static/public/images/p4.png" alt="" />
                    <h4 class="explore-title">pilates</h4>
                </div>
                <div class="ab1 w3_agile-about-grid1">
                    <img src="/static/public/images/p1.png" alt="" />
                    <h4 class="explore-title">Zumba</h4>
                </div>
                <div class="ab1 w3_agile-about-grid1">
                    <img src="/static/public/images/p3.png" alt="" />
                    <h4 class="explore-title">diet guide</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="exp-grid">
                <div class="ab1 w3_agile-about-grid1">
                    <img src="/static/public/images/p6.png" alt="" />
                    <h4 class="explore-title">yoga</h4>
                </div>
                <div class="ab1 w3_agile-about-grid1">
                    <img src="/static/public/images/p2.png" alt="" />
                    <h4 class="explore-title">fitness</h4>
                </div>
                <div class="ab1 w3_agile-about-grid1">
                    <img src="/static/public/images/p5.png" alt="" />
                    <h4 class="explore-title">meditation</h4>
                </div>
                <div class="ab1 w3_agile-about-grid1">
                    <img src="/static/public/images/p7.png" alt="" />
                    <h4 class="explore-title">Gym</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>






    <!-- //explore -->
    <!-- Stats -->
    <!-- //Stats -->

    <!-- modal -->
    <div class="modal about-modal fade" id="myModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Life Style</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-info">
                        <img src="/static/public/images/g2.jpg" alt="" class="img-responsive" />
                        <p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio
                            eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque
                            pellentesque tempor enim, in dapibus turpis porttitor quis. Suspendisse ultrices hendrerit massa.
                            Nam id metus id tellus ultrices ullamcorper. Cras tempor massa luctus, varius lacus sit amet,
                            blandit lorem. Duis auctor in tortor sed tristique. Proin sed finibus sem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //modal -->

    <!-- footer -->
    <div class="footer-main text-center">

    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-copy text-center">
                <p>© 2024 Fitness Life Style. All rights reserved
                </p>
            </div>
        </div>
    </div>
<!-- //footer -->
    <!-- js -->
    <script src="/static/public/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- nav dropdown -->
    <script>
        $('ul.dropdown-menu li').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });
    </script>
    <!-- //nav dropdown -->
    <!-- gallery -->
    <script src="/static/public/js/smoothbox.jquery2.js"></script>
    <!-- //gallery -->
    <!-- banner Slider script  -->
    <script src="/static/public/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider, #slider1").responsiveSlides({
                auto: true,
                nav: false,
                speed: 1500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <!-- //banner Slider-JavaScript -->
    <!-- Team FlexSlider -->
    <script defer src="/static/public/js/jquery.flexslider.js"></script>
    <script>
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- End- Flexslider-script -->
    <!-- Testimonials owl carousel -->
    <script src="/static/public/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds
                autoPlay: false,
                items: 3,
                itemsDesktop: [991, 2],
                itemsDesktopSmall: [414, 4]

            });
        });
    </script>
    <!-- //Testimonials owl carousel -->
    <!-- start-smooth-scrolling -->
    <script src="/static/public/js/move-top.js"></script>
    <script src="/static/public/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
            	containerID: 'toTop', // fading element id
            	containerHoverID: 'toTopHover', // fading element hover id
            	scrollSpeed: 1200,
            	easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="/static/public/js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <script src="/static/public/js/numscroller-1.0.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/public/js/bootstrap.js"></script>
</body>

</html>